body {
      font-family: 'Inter', sans-serif;
      background-color: #dfedce;
      background: linear-gradient(135deg, #ffd7e8, #dfedce);
      margin: 0;
      padding: 2rem;
      text-align: center;
    }
    
    .container {
      max-width: 600px;
      margin: 0 auto;
      background: white;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    input[type="text"] {
      padding: 0.5rem;
      width: 60%;
      font-size: 1rem;
    }
    
    button {
      /* background-color: #a8c686; */
      background: whitesmoke;
      color: black;

      border: none;
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      font-size: 1rem;
      /* background: linear-gradient(135deg, #acd2d0, #ffd7e8); */
      
      border-radius: 5px;

      font-weight: 600;

      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      transition: all 0.3s ease;

    }

    button:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    }


    .flowers {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 1rem;
      gap: 0.5rem;
    }
    
    .flowers img {
      width: 30px;
      height: auto;
    }
